html, body {
  height: 100%;
  margin: 0;
}

body, html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.main-content {
  flex-grow: 1;
}

.NavLogo {
  width: 170px;
  height: 120px;
}

.me-6 {
  margin-right: 4rem;
}

.me-7 {
  margin-right: 5rem;
}

.me-8 {
  margin-right: 6rem;
}

.mt-6 {
  margin-top: 4rem;
}

.ms-6 {
  margin-left: 4rem;
}

.ms-7 {
  margin-left: 5rem;
}

.ms-8 {
  margin-left: 8.5rem;
}

.pt-6{
  padding-top: 80px;
}

.dropdown-menu {
  margin-left: -2rem !important;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

.nav-link:hover {
  color: #6d6d6d;
}

.cursor-pointer {
  cursor: pointer;
}

.course-card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
}

/* Estilos para la barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #ebecee;
  z-index: 1000;
  box-shadow: 10px 0 8px -8px rgba(0, 0, 0, 0.253), 
              0 -10px 8px -8px rgba(0, 0, 0, 0.253);
  transition: transform 0.3s ease;
}

.sidebar-footer {
  margin-top: auto;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%); /* Ocultar la barra lateral en pantallas pequeñas */
  }

  .collapse.show {
    transform: translateX(0); /* Mostrar la barra lateral cuando se despliega */
  }

  .toggler-panel {
    z-index: 1100;
    position: fixed;
    top: 15px;
    left: 15px;
    border: none;
    background-color: transparent;
  }

  .toggler-navmenu {
    margin-right: 1rem;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

/* Evitar que el colapso afecte a pantallas grandes */
@media (min-width: 992px) {
  .sidebar {
    transform: none; /* Mantener la barra lateral visible en pantallas grandes */
  }

  .navbar-toggler {
    display: none; 
  }
}

.navbar {
  margin-top: 15px;
  box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.2); /* Sombra inferior */
  transition: background-color 0.3s ease-in-out;
}

.navbar-toggler.custom-toggler {
  border-color: transparent;
}

.nav-link {
  color: #212529;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-item {
  padding: 5px;
}

.nav-login a {
  width: 100px;
  margin-top: 15px;
  margin-left: 10px;
  font-weight: 500;
}

.navbar-collapse {
  justify-content: flex-end; /* Alineación de elementos a la derecha */
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 50%;
    margin-top: 20px;
    margin-right: 0;
  }

  .img-sm {
    width: 150px !important;
    height: auto;
    margin-left: 5% !important;
  }

  .dropdown-menu {
    text-align: right;
    width: auto;
    max-width: 100%;
  }

  .dropdown-item {
    text-align: justify;
  }

  .navbar-nav .nav-link {
    font-size: 1.2rem;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }
}

.docbody {
  padding-left: 270px;
}

.panelcenter {
  padding-left: 35%;
}

.gif {
  margin-left: 40%;
  margin-top: 8%;
  width: 250px;
}

.gifloader {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 250px;
  border-radius: 50%;
}

.purple {
  background-color: 	#6610f2;
  color: white;
}

.purple:hover {
  background-color:#6321cc ;
  color: white;
}

.purple:active {
  background-color:#6321cc ;
  color: white;
}

.table {
  width: auto;
}

.table th, .table td {
  text-align: center;
}

.sidebar-footer {
  margin-top: auto;
  padding: 1rem; 
  text-align: center;
}


@media (min-width: 992px) {
.shadowinset {
  box-shadow: 0px 0px 10px 0px #b6b6b675 inset;
  width:1080px;
  margin-left: 260px;
  padding-bottom: 20px;
  min-height: 470px;
  margin-bottom: 10px;
  border-radius: 5px;
}
}
.bgshadowinset {
  box-shadow: 0px 0px 10px 0px #b6b6b675 inset;
}

.primarycyan {
  background: linear-gradient(45deg,#1437aa, #3dc2ff);
}

.fs-ssm {
  font-size: 12px;
}

.fs-sm {
  font-size: 14px;
}

.text-blue-dark {
  color: #0f1150;
}

.img-sm {
  width: 130px;
}

.img-ssm {
  width: 50px;
  height: 53px;
}

@media (min-width: 992px) {
  .sidebar {
    width: 250px;
  }
}

.parent-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.25rem; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
